h4 {
	-webkit-print-color-adjust: exact;
}

select, textarea, form {
	display: inline;
}

textarea {
	margin-top:0px;
}

label {
	font-weight:normal;
}

.text-medium {
	font-size: 18px;
}

input:not([type="checkbox"]) {
	height:20px;
}

.main-border {
	border: 20px solid #FFFFFF;
}

.divider {
	background-color:#F2F2F2;
	/*margin-top:25px;*/
	font-weight: bold;
	margin-bottom: 0;
}

.title {
	text-align: center;
	font-weight: bold;
}

.inline-left {
	/*float: left;*/
	display: inline;
}

.inline-right {
	display: inline;
	text-align: right;
	float:right;
}

.inline-center {
	float:left;
	padding-left: 40px;
	text-align: center;
}

.top-right {
	margin-top: 0px;
	text-align: right;
}

.move-down {
	margin-top:0px;
}

.padding-right {
	float: right;
	padding-right: 50px;
	display: inline;
}

.padding-right-no-sapt {
	float:right;
	padding-right: 456px;
	display: inline;
}

.padding-right-anatomie {
	float: center;
	padding-left: 165px;
}

.padding-center-anatomie {
	float:left;
	padding-left: 300px;
	text-align: center;
	display: inline;
}
