---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rinichi + Ginecologie</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body style="-webkit-print-color-adjust:exact;">
<div class="main-border">
    {% include header.html %}
    <h3 class="title">Raport de examinare ecografică<br> reno-vezicală și organelor bazinului mic</h3>
    <br>
    <div class="text-medium">
        <div class="inline-left">
            Nume, Prenume:
            <form>
                <input id="patientFullName" type="text" maxlength="100" size="50">
            </form>
        </div>
        <div class="inline-right">
            Anul de naștere:
            <form>
                <input type="text" size="4">
            </form>
        </div>
        <br>
        <div class="inline-left">
            Adresa:
            <form>
                <input type="text" maxlength="100" size="60">
            </form>
        </div>
        <div class="inline-right">
            Data de examinare:
            <input id="currentDate" name="date" size="8" tabindex="-1">
        </div>
        <br>
        <div class="inline-left">
            Condiții technice
            <select id="technicalConditionsSelect">
                <option value="bune">adecvate</option>
                <option value="limitate">limitate prin:</option>
            </select>
            <form id="limitedTechnicalConditionsForm" style="display:none">
                <label><input type="checkbox"/> aerocolie excesivă; </label>
                <label><input type="checkbox"/> calitatea țesuturilor anterioare </label>
            </form>
        </div>
    </div>
    <h4 class="divider">RINICHIUL DREPT:</h4>
    {% include rinichi/rinichiul-drept.html %}

    <h4 class="divider">RINICHIUL STÂNG:</h4>
    {% include rinichi/rinichiul-stang.html %}

    <h4 class="divider">URETERUL:</h4>
    {% include rinichi/ureterul.html %}

    <h4 class="divider">VEZICA URINARĂ:</h4>
    {% include rinichi/vezica-urinara.html %}

    <h4 class="divider">UTERUL:</h4>
    {% include ginecologie/uterul.html %}

    <h4 class="divider">OVARUL DREPT:</h4>
    {% include ginecologie/ovarul.html %}

    <h4 class="divider">OVARUL STÂNG:</h4>
    {% include ginecologie/ovarul.html %}

    <h4 class="divider">TROMPA UTERINĂ DREAPTA:</h4>
    {% include ginecologie/trompa-uterina.html %}

    <h4 class="divider">TROMPA UTERINĂ STÂNGĂ:</h4>
    {% include ginecologie/trompa-uterina.html %}

    <h4 class="divider">PARAMETRU DREPT:</h4>
    {% include ginecologie/parametru.html %}

    <h4 class="divider">PARAMETRU STÂNG:</h4>
    {% include ginecologie/parametru.html %}

    <h4 class="divider">SPAȚIU DOUGLAS:</h4>
    {% include ginecologie/spatiu-douglas.html %}

    <h4 class="divider">CONCLUZIE SONOGRAFICĂ:</h4>
    <div class="text-medium" style="font-style: italic;">
        <div class="inline-left">
            Ecoscopic:
            {% include rinichi/concluzii.html %}
            <form>
                <input type="text" maxlength="1000" size="60">
            </form>
            <br>
            {% include ginecologie/concluzii.html %}
            <label><input type="checkbox"/>
                Fără modificări patologice.
            </label>
            <form>
                <input type="text" maxlength="1000" size="60">
            </form>
        </div>
        <br>
        În prealabil, consințământul verbal a fost obținut.
    </div>

    <br>
    <div style="width: 900px; height: 1px"></div>
    <textarea name="recomandari" rows="0" cols="118"></textarea>
    <br>
    Ecografia efectuată de: <br>
    <b>Dr. Andrienco Svetlana</b><br>
    Medic ecograf - imagistică medicală categoria superioară
    <button onclick="printPage()" id="printButton" style="float:right"> PRINT THIS PAGE</button>

</div>
</body>
</html>