            <label><input type="checkbox"/>
                Semne de proces inflamator renal suportat
                <select>
                    <option>pe dreapta</option>
                    <option>pe stânga</option>
                    <option>bilateral</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Pieloectazie
                <select>
                    <option>pe dreapta</option>
                    <option>pe stânga</option>
                    <option>bilateral</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/> Semne de micronefrolitiaza.</label>
            <label><input type="checkbox"/>
                Semne de nefrolitiaza
                <select>
                    <option>pe dreapta</option>
                    <option>pe stânga</option>
                    <option>bilateral</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Semne de hidronefroză pe dreapta gradul
                <select>
                    <option>1-2</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Semne de hidronefroză pe stânga gradul
                <select>
                    <option>1-2</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Chist renal
                <select>
                    <option>pe dreapta</option>
                    <option>pe stânga</option>
                    <option>bilateral</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Chisturi renale
                <select>
                    <option>pe dreapta</option>
                    <option>pe stânga</option>
                    <option>bilateral</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Chisturi peripelvicale
                <select>
                    <option>pe dreapta</option>
                    <option>pe stânga</option>
                    <option>bilateral</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Semne de nefropatie
                <label><input type="checkbox"/> urologică,</label>
                <label><input type="checkbox"/> discirculatorie,</label>
                <label><input type="checkbox"/> dismetabolică,</label>
                <label><input type="checkbox"/> mixtă.</label>
            </label>
            <label><input type="checkbox"/>
                Angiomiolipomul în rinichiul
                <select>
                    <option>drept</option>
                    <option>stâng</option>
                </select>
                .
            </label>
            <label><input type="checkbox"/>
                Semne de boală polichistică renală.
            </label>