    <div class="text-medium">
        <label><input type="checkbox" class="absentCheckbox"/> Absent chirurgical.</label>
        <label><input type="checkbox" class="absentCheckbox"/> Rinichiul nu se detectează în locații tipice.</label>
    </div>
    <div class="text-medium">
        <div>
            Localizare:
            <label><input type="checkbox"/> tipică</label>
            <label><input type="checkbox"/> ptozat</label>
            <label><input type="checkbox"/> asimetric</label>
            <label><input type="checkbox"/>
                distopie
                <select>
                    <option>pelvină</option>
                    <option>lombară</option>
                </select>
            </label>
        </div>
        <div class="inline-left">
            Dimensiunile
            <form>
                <input type="text" size="2">
            </form>
            *
            <form>
                <input type="text" size="2">
            </form>
            mm;
            Parenchimul:
            <form>
                <input type="text" size="2">
            </form>
            mm;
            Conturul:
            <select>
                <option>regulat</option>
                <option>boselat</option>
                <option>șters</option>
            </select>
        </div>
        <br>
        <div class="inline-left">
            Diferențierea cortico-medulară:
            <select>
                <option>păstrată</option>
                <option>compromisă</option>
            </select>
        </div>
        <br>
        <div>
            <label><input type="checkbox"/> Sistemul de calice și bazinet nedilatat.</label>
            <label><input type="checkbox"/> Sistemul de calice și bazinet dilatat până
                <form>
                    <input type="text" size="2">
                </form>
                mm.
            </label>
            <label><input type="checkbox"/> Sistemul de calice și bazinet didelf.</label>
            <label><input type="checkbox"/> Arbore pielonic drept cu modificări indurative.</label>
            <label><input type="checkbox"/>
                Ecosemnale reflectogene fără con de umbră acustică
                <input type="text" maxlength="1000" size="60">.
            </label>
        </div>
        <div class="inline-left">
            Calculi
            <select>
                <option>nu se evidențiază la moment</option>
                <option>se vizualizează</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
        <br>
        <div>
            <label><input type="checkbox"/>
                Se determină chist intraparenchimatoz cu dimensiuni
                <form>
                    <input type="text" size="2">
                </form>
                mm în segmentul
                <select>
                    <option>superior</option>
                    <option>mediu</option>
                    <option>inferior</option>
                </select>
            </label>
            <label><input type="checkbox"/>
                ,
                <form>
                    <input type="text" size="2">
                </form>
                mm în segmentul
                <select>
                    <option>superior</option>
                    <option>mediu</option>
                    <option>inferior</option>
                </select>
            </label>
            <label><input type="checkbox"/>
                ,
                <form>
                    <input type="text" size="2">
                </form>
                mm în segmentul
                <select>
                    <option>superior</option>
                    <option>mediu</option>
                    <option>inferior</option>
                </select>
            </label>
            <label><input type="checkbox"/>
                ,
                <form>
                    <input type="text" size="2">
                </form>
                mm în segmentul
                <select>
                    <option>superior</option>
                    <option>mediu</option>
                    <option>inferior</option>
                </select>
            </label>
            <label><input type="checkbox"/>
                Se determină chist subcapsular cu dimensiuni
                <form>
                    <input type="text" size="2">
                </form>
                mm
                <select>
                    <option>polar superior</option>
                    <option>polar inferior</option>
                    <option>în segmentul mediu</option>
                </select>
            </label>
            <label><input type="checkbox"/>
                ,
                <form>
                    <input type="text" size="2">
                </form>
                mm
                <select>
                    <option>polar superior</option>
                    <option>polar inferior</option>
                    <option>în segmentul mediu</option>
                </select>
            </label>
            <label><input type="checkbox"/>
                ,
                <form>
                    <input type="text" size="2">
                </form>
                mm
                <select>
                    <option>polar superior</option>
                    <option>polar inferior</option>
                    <option>în segmentul mediu</option>
                </select>
            </label>
            <label><input type="checkbox"/>
                Se determină chisturi peripelvicale
                <form>
                    <input type="text" size="11">
                </form>
            </label>
            <label><input type="checkbox"/>
                Se determină angiomiolipomul
                <form>
                    <input type="text" size="20">
                </form>
            </label>
        </div>
        <div class="inline-left">
            Formațiune solidă / predominant solidă
            <select>
                <option>nu se constată</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
    </div>