    <div class="text-medium">
        <div>
            Drept
            <label><input type="checkbox"/> nedilatat în segmentul superior;</label>
            <label><input type="checkbox"/> nedilatat în segmentul inferior;</label>
            <label><input type="checkbox"/> dilatat în segmentul superior;</label>
            <label><input type="checkbox"/> dilatat în segmentul inferior;</label>
            <label><input type="checkbox"/> calcul în segmentul superior;</label>
            <label><input type="checkbox"/> calcul în segmentul inferior;</label>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
        <div>
            Stâng
            <label><input type="checkbox"/> nedilatat în segmentul superior;</label>
            <label><input type="checkbox"/> nedilatat în segmentul inferior;</label>
            <label><input type="checkbox"/> dilatat în segmentul superior;</label>
            <label><input type="checkbox"/> dilatat în segmentul inferior;</label>
            <label><input type="checkbox"/> calcul în segmentul superior;</label>
            <label><input type="checkbox"/> calcul în segmentul inferior;</label>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
    </div>