    <div class="text-medium">
        <div>
            Volum:
            <select>
                <option>în repleție minimă</option>
                <option>plină</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
        <div>
            Conturul:
            <select>
                <option>intern e regulat</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
        <div class="inline-left">
            Conținutul cavității
            <select>
                <option>nemodificat</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
        <div>
            Urina reziduală:
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
    </div>