    <div style="width: 900px; height: 1px"></div>
    <div class="text-medium">
        <label><input type="checkbox"/>Se recomandǎ consultația medicului
            <label><input type="checkbox"/>gastrolog</label>
            <label><input type="checkbox"/>endocrinolog</label>
            <label><input type="checkbox"/>internist</label>
            <label><input type="checkbox"/>urolog</label>
            <label><input type="checkbox"/>ginecolog</label>
            <label><input type="checkbox"/>obstetrician</label>
            <label><input type="checkbox"/>chirurg</label>
        </label>
    </div>
    <textarea name="recomandari" rows="0" cols="118"></textarea>
    <br>
    Ecografia efectuată de: <br>
    <b>Dr. Andrienco Svetlana</b><br>
    Medic ecograf - imagistică medicală categoria superioară
    <button onclick="printPage()" id="printButton" style="float:right"> PRINT THIS PAGE</button>