    <div style="display: flex; justify-content: space-between; align-items: center">
        <div style="width: 25%"><img src="images/logo.png" height="100" width="100" alt="logo"
                                     style="-webkit-filter:grayscale(1)"></div>
        <div style="width: 50%; text-align: center"><h3 style="margin-top: 0">Cabinet medical de ecografie № 203</h3>Echipament: General
            Electric Versana Premier<br>e-mail: svetlana.ciuclea@gmail.com
        </div>
        <div style="width: 25%; text-align: right"><h4>IMSP CS Strășeni</h4>str. Ștefan cel Mare 105, <br>or. Strășeni,
            Republica Moldova<br>Telefon: (+373) 237 22862
        </div>
    </div>