            <label><input type="checkbox"/>
                Semne de miom uterin nodular (FIGO -
                <input type="text" size="1">).
            </label>
            <label><input type="checkbox"/>
                Semne de miom uterin nodular multilocular (FIGO -
                <input type="text" size="1">).
            </label>
            <label><input type="checkbox"/> Semne de adenomioză.</label>
            <label><input type="checkbox"/>
                Chist ovarian pe dreapta (O-RADS-<input type="text" size="1">).
            </label>
            <label><input type="checkbox"/>
                Chist ovarian pe stânga (O-RADS-<input type="text" size="1">).
            </label>
            <label><input type="checkbox"/>
                Semne de hidrosalpinx pe dreapta.
            </label>
            <label><input type="checkbox"/>
                Semne de hidrosalpinx pe stânga.
            </label>
            <label><input type="checkbox"/>
                Semne de pelvioperitonită.
            </label>
            <label><input type="checkbox"/>
                Formațiune tubo-ovariană inflamatorie pe dreapta.
            </label>
            <label><input type="checkbox"/>
                Formațiune tubo-ovariană inflamatorie pe stângă.
            </label>
            <label><input type="checkbox"/>
                Formațiune chistică, posibil endometrioidă pe dreapta.
            </label>
            <label><input type="checkbox"/>
                Formațiune chistică, posibil endometrioidă pe stângă.
            </label>
            <label><input type="checkbox"/>
                Semne de boală varice pelvin.
            </label>
            <label><input type="checkbox"/>
                Ovarile cu aspect polichistic.
            </label>
            <label><input type="checkbox"/>
                Suspecție de polip endometrial.
            </label>
            <label><input type="checkbox"/>
                Suspecție de polipoză endometrului.
            </label>