    <div class="text-medium">
        <label><input type="checkbox" class="absentCheckbox"/> Absent chirurgical.</label>
        <label><input type="checkbox" class="absentCheckbox"/> Nu se vizualizează la moment.</label>
        <label><input type="checkbox" class="absentCheckbox"/> Nu se vizualizează separat.</label>
    </div>
    <div class="text-medium">
        <div>
            Dimensiuni
            <input type="text" size="2">
            *
            <input type="text" size="2">
            mm; cu conrur
            <select>
                <option>regulat</option>
                <option>șters</option>
            </select>
            <label><input type="checkbox"/> cu incluziuni reflectogene punctiforme și liniare</label>
        </div>
        <div>
            <label><input type="checkbox"/>
                Foliculi
                <input type="text" maxlength="1000" size="59">
            </label>
        </div>
        <div>
            <label><input type="checkbox"/>
                Foliculi antrali cu dimensiuni
                <input type="text" size="2">
                -
                <input type="text" size="2">
                mm;
                <label><input type="checkbox"/> N > <input type="text" size="2"></label>
            </label>
        </div>
        <div>
            <label><input type="checkbox"/>
                Folicul dominant
                <label><input type="checkbox"/>
                    <input type="text" size="2">
                    mm
                </label>
                <label><input type="checkbox"/> nu se determină la moment</label>
            </label>
        </div>
        <div>
            Formațiuni de volum
            <select>
                <option>la momentul examinării nu se determină</option>
                <option>se determină o formațiune lichidiană cu dimensiuni</option>
                <option></option>
            </select>
            <label><input type="checkbox"/>
                <input type="text" size="9">
                mm;
            </label>
            <input type="text" maxlength="1000" size="59">
        </div>
    </div>
    <div class="text-medium">
        <input type="text" maxlength="1000" size="150">
    </div>