    <div class="text-medium">
        <label><input type="checkbox" class="absentCheckbox"/> Absent chirurgical.</label>
    </div>
    <div class="text-medium">
        <div>
            Poziție
            <select>
                <option>anteflexio-versio</option>
                <option>retroflexio-versio</option>
                <option>mezoflexio-versio</option>
            </select>
        </div>
        <div>
            Forma
            <select>
                <option>piriformă</option>
                <option>ovalară</option>
                <option>globuloasă</option>
                <option>bicorn</option>
            </select>
        </div>
        <div>
            Contur
            <select>
                <option>regulat</option>
                <option>boselat</option>
            </select>
        </div>
        <div>
            Mobilitate
            <select>
                <option>obișnuită</option>
                <option>redusă</option>
            </select>
        </div>
        <div>
            Dimensiuni: Axul longitudinal
            <input type="text" size="2">
            mm, antero-posterior
            <input type="text" size="2">
            mm, transvers
            <input type="text" size="2">
            mm
        </div>
        <div>
            Miometru cu ecogenitate
            <select>
                <option>medie</option>
                <option>sporită</option>
                <option>redusă</option>
                <option>mixtă</option>
            </select>
            ;
            <label><input type="checkbox"/> cu sectoare reflectogene intramural liniare striate;</label>
            <label><input type="checkbox"/> cu nodul intramural heterogen
                <select>
                    <option>anterior</option>
                    <option>posterior</option>
                    <option>fundic</option>
                </select>
                <input type="text" size="2">
                mm;
            </label>
            <label><input type="checkbox"/> cu nodul intramural heterogen
                <select>
                    <option>anterior</option>
                    <option>posterior</option>
                    <option>fundic</option>
                </select>
                <input type="text" size="2">
                mm;
            </label>
            <label><input type="checkbox"/> cu nodul intramural heterogen
                <select>
                    <option>anterior</option>
                    <option>posterior</option>
                    <option>fundic</option>
                </select>
                <input type="text" size="2">
                mm;
            </label>
            <label><input type="checkbox"/> cu noduli multipli intramurali cu diametru până
                <input type="text" size="2">
                mm;
            </label>
            <label><input type="checkbox"/> cu nodul submucoz
                <select>
                    <option>anterior</option>
                    <option>posterior</option>
                </select>
                <input type="text" size="2">
                mm în segmentul
                <select>
                    <option>superior</option>
                    <option>mediu</option>
                    <option>inferior</option>
                </select>
                ;
            </label>
            <label><input type="checkbox"/> cu nodul subseroz
                <select>
                    <option>anterior</option>
                    <option>posterior</option>
                </select>
                <input type="text" size="2">
                mm în segmentul
                <select>
                    <option>superior</option>
                    <option>mediu</option>
                    <option>inferior</option>
                </select>
                ;
            </label>
            <label><input type="checkbox"/>
                cu nodul
                <select>
                    <option>anterior</option>
                    <option>posterior</option>
                </select>
                <select>
                    <option>spre stânga</option>
                    <option>spre dreapta</option>
                </select>
                <input type="text" size="2">
                mm pe picioruș;
            </label>
            <input type="text" maxlength="1000" size="59">
        </div>
        <div>
            <label><input type="checkbox"/>
                Zona cicatrice
                <select>
                    <option>fara obiecții</option>
                    <option>cu aspect de nișa până</option>
                    <option></option>
                </select>
                <input type="text" maxlength="1000" size="59">
            </label>
        </div>
        <div>
            <label><input type="checkbox"/>
                Zona de joncțiune cu contur
                <select>
                    <option>clar</option>
                    <option>șters</option>
                </select>
            </label>
        </div>
        <div>
            Ecou median cu grosimea
            <input type="text" size="2">
            mm; structura
            <select>
                <option>omogenă</option>
                <option>neomogenă</option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
        <div>
            Cavitatea uterină
            <select>
                <option>nedilatată</option>
                <option>dilatată din contul</option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
        <div>
            <label><input type="checkbox"/>
                Structura endometrului corespunde fazei
                <select>
                    <option>de proliferare</option>
                    <option>periovulatorie</option>
                    <option>secretorie</option>
                </select>
            </label>
        </div>
    </div>
    <div class="text-medium">
        <div>
            Colul uterin cu dimensiuni
            <input type="text" size="2">
            *
            <input type="text" size="2">
            mm; formațiuni chistice
            <select>
                <option>absente</option>
                <option></option>
            </select>
            <input type="text" maxlength="1000" size="10">
        </div>
        <div>
            Canal cervical
            <select>
                <option>nedilatat</option>
                <option>dilatat</option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
    </div>