    <div class="text-medium">
        <div class="inline-left">
            <label><input type="checkbox"/> în cavitatea abdominală nu se constată;</label>
            <label><input type="checkbox"/> în cavitatea pleurală dreaptă nu se constată;</label>
            <label><input type="checkbox"/> în cavitatea pleurală stângă nu se constată;</label>
            <label><input type="checkbox"/> în cavitatea abdominală se constată;</label>
            <label><input type="checkbox"/> în cavitatea pleurală dreaptă se constată;</label>
            <label><input type="checkbox"/> în cavitatea pleurală stângă se constată</label>
        </div>
    </div>