    <div class="text-medium">
        <label><input type="checkbox" class="absentCheckbox"/> Absent chirurgical.</label>
        <label><input type="checkbox" class="absentCheckbox"/> Nu se vizualizează la moment.</label>
    </div>
    <div class="text-medium">
        <div class="inline-left">
            Stare
            <select>
                <option>a jeun</option>
                <option>postprandial</option>
            </select>
            Localizare tipică
            <form>
                <input type="text" size="4">
            </form>
            *
            <form>
                <input type="text" size="4">
            </form>
            mm;
            <select>
                <option>nedeformat</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="39">
            </form>
        </div>
        <br>
        <div class="inline-left">
            Pereții
            <select>
                <option>neîngroșați</option>
                <option>îngroșați</option>
            </select>
            <form>
                <input type="text" size="2">
            </form>
            mm
        </div>
        <br>
        <div class="inline-left">
            Colesteroloză
            <select>
                <option>nu se constată</option>
                <option>se constată</option>
            </select>
            , polipi
            <select>
                <option>nu se constată</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="44">
            </form>
        </div>
        <br>
        <div class="inline-left">
            Calculi
            <select>
                <option>nu se constată</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="60">
            </form>
        </div>
        <br>
        <div class="inline-left">
            Spațiul pericolecistic
            <select>
                <option>nemodificat</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="60">
            </form>
        </div>
    </div>