        <label><input type="checkbox"/> Schimbări dufuze în parenchimul ficatului.</label>
        <label><input type="checkbox"/> Schimbări dufuze în parenchimul ficatului (tip steatoza hepatică
            neseveră).</label>
        <label><input type="checkbox"/> Schimbări dufuze în parenchimul ficatului (tip steatoză hepatică).</label>
        <label><input type="checkbox"/> Schimbări dufuze în parenchimul ficatului (ficat cardiac).</label>
        <label><input type="checkbox"/> Hemangiom hepatic.</label>
        <label><input type="checkbox"/> Hemangioame hepatice.</label>
        <label><input type="checkbox"/> Chist hepatic simplu.</label>
        <label><input type="checkbox"/> Chisturi hepatice simple.</label>
        <label><input type="checkbox"/> Hepatomegalie.</label>
        <label><input type="checkbox"/> Splenomegalie.</label>
        <label><input type="checkbox"/> Splenomegalie relativă.</label>
        <label><input type="checkbox"/> Hepatosplenomegalie.</label>
        <form>
                <input type="text" maxlength="1000" size="60">
        </form>
        <label><input type="checkbox"/> Stare după splenectomie.</label>
        <label><input type="checkbox"/> Semne de hipertensiune portală.</label>
        <label><input type="checkbox"/> Semne de colecistopatie alitiazică.</label>
        <label><input type="checkbox"/> Semne de colecistită cronică calculoasă.</label>
        <label><input type="checkbox"/> Polip vezicii biliare.</label>
        <label><input type="checkbox"/> Polipi vezicii biliare.</label>
        <label><input type="checkbox"/> Semne de litiază biliară.</label>
        <label><input type="checkbox"/> Vezica biliară afunctională pe fon de litiază biliară.</label>
        <label><input type="checkbox"/> Stare după colecistectomie.</label>
        <label><input type="checkbox"/> Semne de colesteroloză vezicii biliare.</label>
        <label><input type="checkbox"/> Modificări de forma a vezicii biliare.</label>
        <label><input type="checkbox"/> Semne de dischinezia căilor biliare.</label>
        <label><input type="checkbox"/> Schimbări dufuze în parenchimul pancreasului.</label>
        <label><input type="checkbox"/> Schimbări dufuze în parenchimul pancreasului (tip lipomatoză).</label>
        <label><input type="checkbox"/> Ascita.</label>
        <label><input type="checkbox"/> Pleurezie pe dreaptă.</label>
        <label><input type="checkbox"/> Pleurezie pe stângă.</label>