    <div class="text-medium">
        <div class="inline-left">Este situat tipic.</div>
        <br>
        <div class="inline-left">
            Lobul drept:
            <form>
                <input type="text" size="4">
            </form>
            mm;
            Lobul stâng:
            <form>
                <input type="text" size="4">
            </form>
            mm;
            Lobul caudat:
            <form>
                <input type="text" size="2">
            </form>
            mm
        </div>
        <br>
        <div>
            Conturul:
            <label><input type="checkbox"/> regulat</label>
            <label><input type="checkbox"/> clar</label>
            <label><input type="checkbox"/> micronodular</label>
            <label><input type="checkbox"/> macronodular</label>
            <label><input type="checkbox"/> unghiurile sunt rotunjite</label>
        </div>
        <div class="inline-left">
            Ecostructura:
            <select>
                <option>omogenă</option>
                <option>neomogenă</option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
        <br>
        <div>
            Ecogenitatea:
            <label><input type="checkbox"/> medie</label>
            <label><input type="checkbox"/> redusă</label>
            <label><input type="checkbox"/> ușor sporită difuz</label>
            <label><input type="checkbox"/> sporită</label>
            <label><input type="checkbox"/> fără atenuare posterioară a fascicolului ultrasonor</label>
            <label><input type="checkbox"/> cu atenuare posterioară a fascicolului ultrasonor</label>
        </div>
        <div>
            Desenul vascular
            <select>
                <option>nu este modificat</option>
                <option>este modificat</option>
                <option>accentuat</option>
                <option>atenuat</option>
            </select>
        </div>
        <div class="inline-left">
            Formațiune de volum:
            <select>
                <option>nu se constată la moment</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="48">
            </form>
        </div>
        <br>
        <div>
            <label><input type="checkbox"/>
                Chist hepatic
                <input type="text" maxlength="1000" size="48">
            </label>
        </div>
        <div>
            <label><input type="checkbox"/>
                Chisturi hepatice
                <input type="text" maxlength="1000" size="48">
            </label>
        </div>
        <div>
            <label><input type="checkbox"/>
                Hemangiom hepatic
                <input type="text" maxlength="1000" size="48">
            </label>
        </div>
        <div>
            <label><input type="checkbox"/>
                Hemangioame hepatice
                <input type="text" maxlength="1000" size="48">
            </label>
        </div>
        <div class="inline-left">
            Vena porta:
            <form>
                <input type="text" size="2">
            </form>
            mm;
            Vena lienalis:
            <form>
                <input type="text" size="2">
            </form>
            mm;
            Venele hepatice:
            <select>
                <option>nedilatate</option>
                <option>dilatate</option>
            </select>
            ;
            Vena cava inferior:
            <form>
                <input type="text" size="2">
            </form>
            mm
        </div>
        <br>
        <div class="inline-left">
            Artera hepatică proprie:
            <select>
                <option>nedilatată</option>
                <option>dilatată</option>
            </select>
        </div>
        <br>
        <div class="inline-left">
            Hepatocoledoc se vizualizează pe tot parcurs,
            <form>
                <input type="text" size="4">
            </form>
            mm.
            Căile biliare intrahepatice segmentare și lobare
            <select>
                <option>nedilatate</option>
                <option>dilatate</option>
                <option>conturate</option>
            </select>
        </div>
    </div>