    <div class="text-medium">
        <div class="inline-left">
            Cefalul:
            <form>
                <input type="text" size="2">
            </form>
            mm;
            Corpul:
            <form>
                <input type="text" size="2">
            </form>
            mm;
            Coada:
            <form>
                <input type="text" size="2">
            </form>
            mm; Conturul
            <select>
                <option>clar regulat</option>
                <option>șters</option>
            </select>
        </div>
        <br>
        <div class="inline-left">
            Ecostructura
            <select>
                <option>omogenă</option>
                <option>neomogenă</option>
            </select>
            Ecogenitatea
            <select>
                <option>medie</option>
                <option>sporită moderat</option>
                <option>sporită</option>
                <option>redusă</option>
            </select>
        </div>
        <br>
        <div class="inline-left">
            Calcinate
            <select>
                <option>nu se constată</option>
                <option>se constată</option>
            </select>
            Ductul Wirsung
            <select>
                <option>nedilatat</option>
                <option>dilatat</option>
            </select>
        </div>
        <br>
        <div class="inline-left">
            Formațiune de volum
            <select>
                <option>nu se constată</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="59">
            </form>
        </div>
        <br>
        <div class="inline-left">
            Spațiul parapancreatic
            <select>
                <option>nemodificat</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="60">
            </form>
        </div>
    </div>