    <div class="text-medium">
        <label><input type="checkbox" class="absentCheckbox"/> Absentă chirurgical.</label>
        <label><input type="checkbox" class="absentCheckbox"/> Nu se vizualizează la moment.</label>
    </div>
    <div class="text-medium">
        <div class="inline-left">
            <form>
                <input type="text" size="4">
            </form>
            *
            <form>
                <input type="text" size="4">
            </form>
            mm;
            contur regulat, lob accesoriu
            <select>
                <option>nu se evidențiază</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="33">
            </form>
        </div>
        <br>
        <div class="inline-left">
            Ecostructura
            <select>
                <option>omogenă</option>
                <option></option>
            </select>
            <form>
                <input type="text" maxlength="1000" size="60">
            </form>
        </div>
    </div>