    <div class="text-medium">
        <label><input type="checkbox" class="absentCheckbox"/> Absentă chirurgical.</label>
    </div>
    <div class="text-medium">
        <div>
            Forma
            <select>
                <option>de caștan</option>
                <option>globuloasă</option>
                <option>ovalară</option>
            </select>,
            <select>
                <option>simetrică</option>
                <option>asimetrică</option>
            </select>
        </div>
        <div>
            Contur
            <select>
                <option>regulat</option>
                <option>șters</option>
                <option>boselat</option>
                <option>cu prolabarea în lumenul vezicii urinare</option>
            </select>
        </div>
        <div>
            Mobilitate
            <select>
                <option>obișnuită</option>
                <option>redusă</option>
            </select>
        </div>
        <div>
            Dimensiuni: Axul longitudinal
            <input type="text" size="2">
            mm, antero-posterior
            <input type="text" size="2">
            mm, transvers
            <input type="text" size="2">
            mm, volum
            <input type="text" size="2">
            ml
        </div>
        <div>
            Ecostructura
            <select>
                <option>omogenă</option>
                <option>neomogenă</option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
        <div>
            Ecogenitate
            <select>
                <option>medie</option>
                <option>sporită</option>
                <option>redusă</option>
            </select>
        </div>
        <div>
            Modificări patologice în zonele centrale
            <select>
                <option>nu se determină</option>
                <option>se determină</option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
        <div>
            Modificări patologice în zona de tranziție
            <select>
                <option>nu se determină</option>
                <option>se determină</option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
        <div>
            Uretra prostatică
            <select>
                <option>nemodificată</option>
                <option></option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
        <div>
            <label><input type="checkbox"/> Se determină</label>
            <label><input type="checkbox"/>
                calcifieri solitare până
                <input type="text" size="2">
                *
                <input type="text" size="2">
                mm;
            </label>
            <label><input type="checkbox"/>
                corpii amilacee
                <select>
                    <option>solitare</option>
                    <option>multiple</option>
                </select>;
            </label>
            <label><input type="checkbox"/>
                formațiuni chistice până
                <input type="text" size="2">
                *
                <input type="text" size="2">
                mm;
            </label>
            <label><input type="checkbox"/>
                formațiuni heterogene la baza prostatei
                <input type="text" size="2">
                *
                <input type="text" size="2">
                mm;
            </label>
            <label><input type="checkbox"/>
                formațiune heterogenă la baza prostatei
                <input type="text" size="2">
                *
                <input type="text" size="2">
                mm cu prolabarea în lumenul prostatei până
                <input type="text" size="2">
                mm
            </label>
            <label><input type="checkbox"/></label>
        </div>
        <div>
            Zona periferică
            <select>
                <option>fără modificări de focar hipoecogene</option>
                <option>cu modificări de focar hipoecogene</option>
            </select>
            <label><input type="checkbox"/>
                până
                <input type="text" size="2">
                mm
            </label>
            <label><input type="checkbox"/>
                cu infiltrare în capsula prostatei
            </label>
            <label><input type="checkbox"/>
                fără infiltrare în capsula prostatei
            </label>
        </div>
        <div>
            Vascularizare
            <select>
                <option>fără modificări suspecte</option>
                <option></option>
            </select>
            <input type="text" maxlength="1000" size="59">
        </div>
    </div>